@import "tailwindcss";

:root {
  --bg: #e6e6e6;
  --text: #121212;
  --bg-2: #d2d2d5;
  --menu: #d7e0e3;
  --input: #dee5e7;
  --input-border: #ababab;
  --hover: #cacacf;
  --btn: #dbe0e1;
  --warning: #485a65;
}

[data-theme='dark'] {
  --bg: #121212;
  --text: #ededed;
  --bg-2: #232326;
  --input: #0f0f11;
  --menu: #1a1a1e;
  --input-border: #404040;
  --hover: #3f3f46;
  --btn: #1b1b1d;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --bg: #121212;
    --text: #ededed;
    --bg-2: #232326;
    --input: #0f0f11;
    --menu: #1a1a1e;
    --input-border: #404040;
    --hover: #3f3f46;
    --btn: #1b1b1d;
  }
}

body {
  background: var(--bg-2);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-warning {
  background-image: url("../../public/warning.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

[data-theme="dark"] .bg-warning {
  background-image: url("../../public/warning-dark.svg");
}

select {
  text-align-last: center;
}

input::placeholder {
  color: #aaa;
  opacity: 1;
  /* Fix Safari's default opacity */
}