@import "tailwindcss";

:root {
  --bg: #ededed;
  --text: #121212;
  --bg-2: #d2d2d5;
  --menu: #d7e0e3;
  --input: #dee5e7;
  --input-placeholder: #8b8b8b;
  --input-border: #ababab;
  --hover: #cacacf;
  --btn: #dbe0e1;
  --warning: #485a65;
}

[data-theme='dark'] {
  --bg: #121212;
  --text: #ededed;
  --bg-2: #232326;
  --menu: #1a1a1e;
  --input: #0f0f11;
  --input-placeholder: #a3a3a3;
  --input-border: #404040;
  --hover: #3f3f46;
  --btn: #1b1b1d;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --bg: #121212;
    --text: #ededed;
    --bg-2: #232326;
    --menu: #1a1a1e;
    --input: #0f0f11;
    --input-placeholder: #a3a3a3;
    --input-border: #404040;
    --hover: #3f3f46;
    --btn: #1b1b1d;
  }
}

body {
  background: var(--bg-2);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-warning {
  background-image: url("../../public/warning.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

[data-theme="dark"] .bg-warning {
  background-image: url("../../public/warning-dark.svg");
}

select {
  text-align-last: center;
}

input::placeholder {
  color: var(--input-placeholder);
  opacity: 1;
  /* Fix Safari's default opacity */
}

.explanation {
  min-height: 58px;
}

.explanation ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0px 0px 1rem;
}

.explanation h2 {
  font-size: 1.5rem
}


.explanation li p {
  font-size: 1.25rem;
  padding: 0px .5rem .5rem;
}

strong {
  font-weight: 900;
}

.explanation p,
.explanation li {
  overflow-wrap: break-word;
}

[data-theme="dark"] .explanation strong {
  font-weight: 900;
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] .font-semibold {
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
