@import "tailwindcss";

:root {
  --bg: #ededed;
  --text: #121212;
  --bg-2: #d2d2d5;
  --menu: #d7e0e3;
  --input: #dee5e7;
  --input-placeholder: #8b8b8b;
  --input-border: #a6a6a6;
  --hover: #cacacf;
  --hover-2: #cacacf;
  --btn: #dbe0e1;
  --warning: #485a65;
  --example: #d4d4db;
  --example-border: #cccccc;
}

[data-theme='dark'] {
  --bg: #121212;
  --text: #ededed;
  --bg-2: #232326;
  --menu: #1a1a1e;
  --input: #0f0f11;
  --input-placeholder: #a3a3a3;
  --input-border: #404040;
  --hover: #3f3f46;
  --hover-2: #29292e;
  --btn: #1b1b1d;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --bg: #121212;
    --text: #ededed;
    --bg-2: #232325;
    --menu: #151617;
    --input: #0f0f11;
    --input-placeholder: #a3a3a3;
    --input-border: #404040;
    --hover: #3f3f46;
    --hover-2: #29292d;
    --btn: #1b1b1d;
    --example: #222227;
    --example-border: #2e2d31;
  }
}

.logo {
  color: var(--logo-color);
}

body {
  background: var(--bg-2);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-warning {
  background-image: url("../../public/warning.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

[data-theme="dark"] .bg-warning {
  background-image: url("../../public/warning-dark.svg");
}

select {
  text-align-last: center;
}

input::placeholder {
  color: var(--input-placeholder);
  opacity: 1;
  /* Fix Safari's default opacity */
}

.explanation {
  min-height: 58px;
}

.explanation ul {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 1px solid var(--example-border);
}

.explanation ul:last-of-type {
  border-bottom: none;
}

.explanation h2:first-of-type {
  margin: 0rem 0px 1rem;
}

.explanation h2 {
  font-size: 1.75rem;
  margin: 2.5rem 0px 1rem;
  font-weight: 600
}

.explanation h3 {
  font-size: 1.25rem;
  padding: 1rem 0px;
  font-weight: 600;
}

h3::before {
  content: ">\00a0\00a0";
  color: var(--input-placeholder);
}

strong {
  font-weight: 800;
}

.explanation p,
.explanation li {
  overflow-wrap: break-word;
}

.explanation p {
  margin: .5rem 0px;
}

.explanation ul li {
  background-color: var(--example);
  border-radius: .5rem;
  padding: .5rem;
  margin: .75rem 0px;
}

.explanation ul li:nth-child(3) {
  background-color: transparent;

}

.explanation ul li:nth-child(3)::before {
  content: "💡 ";
}

[data-theme="dark"] .explanation strong {
  font-weight: 800;
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] .font-semibold {
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

@keyframes dice-roll {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1080deg);
  }

  /* 3 full spins (360 * 3) */
}

.animate-dice-roll {
  animation: dice-roll 0.6s ease-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px var(--your-bg-color) inset !important;
  -webkit-text-fill-color: var(--your-text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.spinner {
  position: fixed;
  width: 140px;
  height: 140px;
  border: 8px solid #b1b1b1;
  border-top: 8px solid var(--hover);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
